* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Nunito Sans', sans-serif;
}
:root {
  --swiper-theme-color: #C72F1D;
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0qMImSLYBIv1o4X1M8cfe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc9iB_5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8GBv5q.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe03MImSLYBIv1o4X1M8cc8aBf5q.ttf) format('truetype');
}
.header .swiper-slide {
  position: relative;
}
.header .swiper-slide > video,
.header .swiper-slide > img,
.header .swiper-slide > a > img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.header .swiper-slide > video.only-image.mobile,
.header .swiper-slide > img.only-image.mobile,
.header .swiper-slide > a > img.only-image.mobile {
  object-fit: contain;
}
@media (min-width: 431px) {
  .header .swiper-slide > video.only-image.mobile,
  .header .swiper-slide > img.only-image.mobile,
  .header .swiper-slide > a > img.only-image.mobile {
    display: none;
  }
}
.header .swiper-slide > video.only-image.desktop,
.header .swiper-slide > img.only-image.desktop,
.header .swiper-slide > a > img.only-image.desktop {
  object-fit: contain;
}
@media (max-width: 430px) {
  .header .swiper-slide > video.only-image.desktop,
  .header .swiper-slide > img.only-image.desktop,
  .header .swiper-slide > a > img.only-image.desktop {
    display: none;
  }
}
.header .swiper-slide .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent);
  z-index: 2;
}
.header .swiper-slide .overlay-full {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header .swiper-slide .content-centered {
  position: relative;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
}
@media (max-width: 430px) {
  .header .swiper-slide .content-centered {
    justify-content: flex-end;
    padding: 110px 0;
  }
}
.header .swiper-slide .content-centered img {
  height: 160px;
}
@media (max-width: 430px) {
  .header .swiper-slide .content-centered img {
    display: none;
  }
}
.header .swiper-slide .content-centered h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  line-height: 84px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  .header .swiper-slide .content-centered h1 {
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
  }
}
.header .swiper-slide .content-centered a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background: #C72F1D;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 12px 40px;
}
.header .swiper-slide .content {
  position: relative;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
  z-index: 3;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 430px) {
  .header .swiper-slide .content {
    padding: 24px 0 40px 0;
  }
}
.header .swiper-slide .content h1 {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 430px) {
  .header .swiper-slide .content h1 {
    font-size: 25px;
  }
}
.header .swiper-slide .content h2 {
  color: #000;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 430px) {
  .header .swiper-slide .content h2 {
    font-size: 20px;
  }
}
.header .swiper-slide .content .pricing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header .swiper-slide .content .pricing h3 {
  color: #e71304;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5px;
}
@media (max-width: 430px) {
  .header .swiper-slide .content .pricing h3 {
    font-size: 28px;
  }
}
.header .swiper-slide .content .pricing a {
  display: inline-block;
  background: #C72F1D;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding: 12px 24px;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
}
@media (max-width: 425px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:before,
.swiper-button-prev:before {
  font-size: 20px !important;
}
.locations {
  position: relative;
  height: 470px;
}
.locations .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
@media (max-width: 430px) {
  .locations .grid {
    grid-template-columns: 1fr;
  }
}
.locations .grid div {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 200ms ease-in-out;
}
@media (max-width: 428px) {
  .locations .grid div {
    height: 310px;
  }
}
.locations .grid div:hover .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.locations .grid div .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  transition: all 200ms ease-in-out;
  width: 100%;
  height: 100%;
}
.locations .grid div .content {
  position: relative;
  padding: 20px;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.locations .grid div .content h4 {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  .locations .grid div .content h4 {
    text-align: center;
  }
}
.locations .grid div .content p {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}
.locations .grid div .content a {
  background: #C72F1D;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 12px 20px;
}
.about-us {
  position: relative;
  background-size: cover;
  padding: 50px 0;
}
.about-us .container {
  max-width: 820px;
  padding: 0 60px;
}
@media (max-width: 430px) {
  .about-us .container {
    padding: 0 20px;
  }
}
.about-us img {
  height: 100px;
  margin-bottom: 10px;
}
.about-us h3 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 430px) {
  .about-us h3 {
    font-size: 24px;
  }
}
.about-us h5 {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 430px) {
  .about-us h5 {
    font-size: 22px;
  }
}
.about-us p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-us a {
  color: #C72F1D;
}
.about-us .btn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background: #C72F1D;
  display: inline-block;
  padding: 12px 40px;
  margin-top: 20px;
}
.brands {
  position: relative;
  height: 100px;
  padding: 40px 20px;
}
@media (max-width: 430px) {
  .brands {
    padding: 20px 0;
  }
}
.brands img {
  width: auto;
  max-width: 200px;
  max-height: 100px;
}
.cards {
  position: relative;
  padding: 20px;
}
.cards .container {
  padding: 0 40px;
}
.cards .grid {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards .grid h5 {
  font-size: 20px;
  margin-bottom: 20px;
}
.cards .grid img {
  width: 100%;
  transition: all 150ms ease-in-out;
}
.cards .grid img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.reviews {
  position: relative;
  padding: 20px 0;
  background: #fff;
}
.reviews .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.reviews ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
@media (max-width: 430px) {
  .reviews ul {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 430px) {
  .reviews ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reviews ul li a {
    display: block;
  }
}
.reviews ul li img {
  width: 100%;
  max-width: 210px;
  max-height: 140px;
}
@media (max-width: 430px) {
  .reviews ul li img {
    max-width: 162px;
  }
}
.reviews ul li:last-child {
  grid-column: 1/-1;
  text-align: center;
}
.reviews ul li:last-child img {
  width: auto;
}
#maps {
  overflow: hidden;
}
#maps iframe {
  width: 100%;
  height: 100%;
}
.header-madhouse {
  position: relative;
  background-size: cover;
  height: 100%;
}
.header-madhouse .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
}
.header-madhouse .center {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-madhouse .logos {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}
.header-madhouse .logos span svg {
  fill: #fff;
  height: 40px;
  width: 40px;
}
.header-madhouse .logos img {
  max-height: 140px;
}
.header-madhouse h3 {
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  line-height: 84px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.header-madhouse p {
  color: #ccc;
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
.header-madhouse .btn {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background: #C72F1D;
  display: inline-block;
  padding: 12px 40px;
  margin-top: 20px;
}
.benefits-madhouse {
  position: relative;
  padding: 60px 0;
  background: rgba(199, 47, 29, 0.02);
}
.benefits-madhouse .container {
  max-width: 1200px;
  margin: 0 auto;
}
.benefits-madhouse h3 {
  color: #000;
  font-size: 34px;
  font-weight: 800;
  line-height: 84px;
}
.benefits-madhouse .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.benefits-madhouse .content article {
  position: relative;
  background: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.benefits-madhouse .content article img {
  display: block;
  margin-bottom: 10px;
}
.benefits-madhouse .content article h5 {
  font-size: 24px;
  margin-bottom: 10px;
}
.benefits-madhouse .aditional {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.benefits-madhouse .aditional article {
  position: relative;
  background: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.benefits-madhouse .aditional article img {
  display: block;
  width: 100px;
  margin: 0 auto 20px auto;
}
.benefits-madhouse .aditional article h5 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.reviews-madhouse {
  position: relative;
  color: #fff;
  padding: 100px 0;
  margin-bottom: 100px;
}
.reviews-madhouse .container {
  max-width: 1200px;
  margin: 0 auto;
}
.reviews-madhouse h2 {
  color: #C72F1D;
  font-size: 38px;
  margin-bottom: 0px;
}
.reviews-madhouse h3 {
  font-size: 34px;
  font-weight: 800;
  margin-bottom: 20px;
}
.reviews-madhouse .half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
}
.reviews-madhouse .half img {
  width: 100%;
  border-radius: 10px;
}
.reviews-madhouse ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.reviews-madhouse ul li {
  color: #fff;
  font-size: 19px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
}
.reviews-madhouse ul li svg {
  height: 24px;
  fill: #C72F1D;
}
.reviews-madhouse .the-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}
.reviews-madhouse .the-reviews article {
  position: relative;
  background: #222;
  padding: 20px;
}
.reviews-madhouse .the-reviews article h5 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.reviews-madhouse .the-reviews article p {
  color: #ddd;
  margin-bottom: 10px;
}
.reviews-madhouse .the-reviews article .stars {
  display: flex;
}
.reviews-madhouse .the-reviews article .stars svg {
  fill: #ffce00;
  height: 20px;
}
