.header {
  .swiper-slide {
    position: relative;
    & > video, & > img, & > a > img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;

      height: 100%;
      width: 100%;
      object-fit: cover;
      &.only-image.mobile {
        object-fit: contain;
        @media (min-width: 431px) {
          display: none;
        }
      }
      &.only-image.desktop {
        object-fit: contain;
        @media (max-width: 430px) {
          display: none;
        }
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 200px;
      background: linear-gradient(180deg,rgba(0,0,0,0.8),transparent);
      z-index: 2;
    }
    .overlay-full {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      background: rgba(0,0,0,0.2);
      z-index: 2;
    }
    .content-centered {
      position: relative;
      height: -moz-available; /* WebKit-based browsers will ignore this. */
      height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      height: fill-available;
      z-index: 3;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      max-width: 1000px;
      margin: 0 auto;
      padding: 30px 0;
      @media (max-width: 430px) {
        justify-content: flex-end;
        padding: 110px 0;
      }
      img {
        height: 160px;
        @media (max-width: 430px) {
          display: none;
        }
      }
      h1 {
        color: #fff;
        font-size: 42px;
        font-weight: 800;
        text-align: center;
        line-height: 84px;
        text-shadow: 1px 1px 6px rgb(0 0 0 / 50%);

        margin-bottom: 20px;
        @media (max-width: 430px) {
          font-size: 30px;
          line-height: 48px;
          text-transform: uppercase;
        }
      }
      a {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;

        background: #C72F1D;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        padding: 12px 40px;
      }
    }
    .content {
      position: relative;
      height: -moz-available; /* WebKit-based browsers will ignore this. */
      height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
      height: fill-available;
      z-index: 3;

      max-width: 1000px;
      margin: 0 auto;
      padding: 60px 0;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 430px) {
        padding: 24px 0 40px 0;
      }
      h1 {
        color: #000;
        font-size: 48px;
        font-weight: 800;
        text-align: center;
        @media (max-width: 430px) {
          font-size: 25px;
        }
      }
      h2 {
        color: #000;
        font-size: 26px;
        font-weight: 800;
        text-align: center;
        @media (max-width: 430px) {
          font-size: 20px;
        }
      }
      .pricing {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h3 {
          color: #e71304;
          font-size: 42px;
          text-align: center;
          margin-bottom: 5px;
          @media (max-width: 430px) {
            font-size: 28px;
          }
        }
        a {
          display: inline-block;
          background: #C72F1D;

          color: #fff;
          font-weight: bold;
          font-size: 20px;
          text-decoration: none;

          padding: 12px 24px;
        }
      }
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
  background: rgba(0,0,0,0.8) !important;
  border-radius: 50% !important;

  width: 50px !important;
  height: 50px !important;
  @media (max-width: 425px) {
    display: none;
  }
  &:after, &:before {
    font-size: 20px !important;
  }
}
