.reviews {
  position: relative;
  padding: 20px 0;
  background: #fff;
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  ul {
    padding: 0;
    margin: 0;

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
    @media (max-width: 425px) {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    li {
      @media (max-width: 425px) {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          display: block;
        }
      }
      img {
        width: 100%;
        max-width: 210px;
        max-height: 140px;
        @media (max-width: 425px) {
          max-width: 200px;
        }
      }
      &:last-child {
        grid-column: 1/-1;
        text-align: center;
        img {
          width: auto;
        }
      }
    }
  }
}
