.reviews {
  position: relative;
  padding: 40px 0;
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  ul {
    padding: 0;
    margin: 0;

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media (max-width: 425px) {
      flex-direction: column;
    }
    li {
      img {
        width: 100%;
        max-width: 400px;
        @media (max-width: 425px) {
          max-width: 200px;
        }
      }
    }
  }
}
