#referrals {
  position: relative;
  background: #fafafa;
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #f4f4f4;
    img {
      object-fit: cover;
      width: 100%;
      max-height: 400px;
    }
    .content {
      padding: 48px;
      h1 {
        font-size: 42px;
        line-height: 50px;
        margin-bottom: 10px;
        max-width: 600px;
      }
      p {
        margin-bottom: 24px;
      }
      a {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        background: #C72F1D;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        text-decoration: none;

        padding: 10px 20px;
        display: inline-block;
      }
    }
  }
  .container {
    max-width: 900px;
    margin: 0 auto;
    ul.steps {
      list-style: none;
      margin: 0 0 60px 0;
      padding: 60px 0;
      display: flex;
      gap: 40px;
      align-items: center;
      justify-content: space-between;
      li {
        text-align: center;
        img {
          margin-bottom: 10px;
        }
        h5 {
          color: #C72F1D;
          font-size: 20px;
          margin-bottom: 12px;
        }
      }
    }
    h5 {
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .faq {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          border-left: 4px solid #C72F1D;
          h6 {
            font-size: 20px;
            background: #f4f4f4;
            padding: 20px;
            margin-bottom: 10px;
          }
          p {
            padding: 20px;
          }
        }
      }
    }
  }
}
